WebApplication1/WebApplication1/Web References/CalculateWcfService/CalculateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.104:9099/CalculateWcfService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.104:9099/CalculateWcfService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CalculateService_AddOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOperation" />
  </wsdl:message>
  <wsdl:message name="CalculateService_AddOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOperationResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateService_SubOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:SubOperation" />
  </wsdl:message>
  <wsdl:message name="CalculateService_SubOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubOperationResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateService_MulOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:MulOperation" />
  </wsdl:message>
  <wsdl:message name="CalculateService_MulOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:MulOperationResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateService_DivOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:DivOperation" />
  </wsdl:message>
  <wsdl:message name="CalculateService_DivOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivOperationResponse" />
  </wsdl:message>
  <wsdl:portType name="CalculateService">
    <wsdl:operation name="AddOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/CalculateService/AddOperation" message="tns:CalculateService_AddOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CalculateService/AddOperationResponse" message="tns:CalculateService_AddOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/CalculateService/SubOperation" message="tns:CalculateService_SubOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CalculateService/SubOperationResponse" message="tns:CalculateService_SubOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MulOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/CalculateService/MulOperation" message="tns:CalculateService_MulOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CalculateService/MulOperationResponse" message="tns:CalculateService_MulOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DivOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/CalculateService/DivOperation" message="tns:CalculateService_DivOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CalculateService/DivOperationResponse" message="tns:CalculateService_DivOperation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basichttpbinding_CalculateService" type="tns:CalculateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddOperation">
      <soap:operation soapAction="http://tempuri.org/CalculateService/AddOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubOperation">
      <soap:operation soapAction="http://tempuri.org/CalculateService/SubOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MulOperation">
      <soap:operation soapAction="http://tempuri.org/CalculateService/MulOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivOperation">
      <soap:operation soapAction="http://tempuri.org/CalculateService/DivOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculateService">
    <wsdl:port name="basichttpbinding_CalculateService" binding="tns:basichttpbinding_CalculateService">
      <soap:address location="http://192.168.0.104:9099/CalculateWcfService/CalculateWcfService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>